.container-redes {
    display: flex;
    margin-top: 2em;
    width: 100%;

}

.main-redes-container {
    display: flex;
    flex-direction: row;
    width: 80px;
    justify-content: space-between;
}

.card-redes {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    -webkit-box-shadow: 0 3px 10px 0 #ccc;
    text-shadow: 0px 0px 5px #fff;
    box-shadow: 0 3px 10px 0 #ccc;

}

.icon-facebook {
    width: 20px;
    height: 20px;
}