/* MOBILE */
@media only screen and (max-width: 1000px) {
  .service-container {
    gap: 10em;
  }

  .container-card-container {
    flex-direction: column;
  }
}

/* DESKTOP */
@media only screen and (min-width: 1000px) {
  .service-container {
    gap: 15em;
  }
}


.container-home {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.img-unha {
  width: 100%;
}

.container-titles {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 50px;
  margin-top: 150px;
}

.title-depositions {
  color: #dcb4a7;
  font-weight: 400;
  font-family: Prata;
  font-size: 42px;
  line-height: 56px;
  letter-spacing: -1px;
}

.title-depositions-secundary {
  color: #828282;
  line-height: 30px;
  font-weight: 400;

}

h6 {
  margin-top: 25px;
}

.container-card-container {
  display: flex;
  gap: 15px;

}

.service-container {
  margin-top: 80px;
  flex-direction: column;
  display: flex;
}