.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  align-items: center;
}

.list {
  display: flex;
  list-style: none;
  align-items: center;
}

.item {
  margin-right: 5em;
}

.item a {
  color: #dcb4a7;
  text-decoration: none;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.item a:hover {
  color: #000000;
}
